Source: gz-transport12
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               pkg-config,
               debhelper (>= 11),
               doxygen,
               python3,
               ruby-ronn,
               libprotoc-dev,
               libprotobuf-dev,
               libgz-msgs9-dev,
               libgz-cmake3-dev,
               libgz-tools2-dev,
               libgz-utils2-cli-dev,
               libgz-utils2-dev,
               protobuf-compiler,
               uuid-dev,
               libzmq3-dev (>= 3.0.0),
               libsqlite3-dev
Vcs-Browser: https://github.com/gazebosim/gz-transport
Vcs-Git: https://github.org/gazebo-release/gz-transport12-release
Standards-Version: 4.5.1
Homepage: https://github.com/gazebo-release/gz-transport

Package: libgz-transport12-core-dev
Architecture: any
Section: libdevel
Depends: libgz-transport12 (= ${binary:Version}),
         uuid-dev,
         libzmq3-dev (>= 3.0.0),
         libgz-msgs9-dev,
         libgz-cmake3-dev,
         libgz-tools2-dev,
         libgz-utils2-cli-dev,
         libgz-utils2-dev,
         ${shlibs:Depends},
         ${misc:Depends}
Breaks: libignition-transport12-core-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12-core-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo transport Library - Core Dev files
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the Gazebo transport core development files


Package: libgz-transport12
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gz-transport12-cli
Breaks: libignition-transport12 (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12 (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo Transport Library - Shared library
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the Gazebo transport libraries

Package: gz-transport12-cli
Architecture: any
Depends: libgz-transport12 (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Multi-Arch: no
Description: Gazebo transport Library - CLI
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the CLI.

Package: libgz-transport12-log-dev
Architecture: any
Section: libdevel
Depends: libsqlite3-dev,
         libgz-cmake3-dev,
         libgz-transport12-core-dev (= ${binary:Version}),
         libgz-transport12-log (= ${binary:Version}),
         ${misc:Depends}
Breaks: libignition-transport12-log-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12-log-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo transport Library - Core Dev
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the Gazebo core development libraries

Package: libgz-transport12-log
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Breaks: libignition-transport12-log (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12-log (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo Transport Library - Log Shared library
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the log shared library

Package: libgz-transport12-dev
Architecture: any
Section: libdevel
Depends: libgz-transport12-core-dev (= ${binary:Version}),
         libgz-transport12-log-dev (= ${binary:Version}),
         ${misc:Depends}
Breaks: libignition-transport12-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12-dev (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo transport Library - Metapackage
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The is a metapackage for all development files

Package: libgz-transport12-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
     libgz-transport12 (= ${binary:Version}),
     ${misc:Depends}
Breaks: libignition-transport12-dbg (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Replaces: libignition-transport12-dbg (<< 11.999.999+nightly+git20220630+1r54abb8a6887e9137e6f703e51bbca2956efff773-1)
Multi-Arch: same
Description: Gazebo transport Library - Debugging symbols
 Gazebo transport library combines ZeroMQ with Protobufs to create a fast and
 efficient message passing system. Asynchronous message publication and
 subscription is provided along with service calls and discovery.
 .
 Gazebo is a set of simple libraries that provide useful
 functionality to bootstrap robot applications. The included libraries
 encapsulate all the essentials, such as common math data types, console
 logging, 3D mesh management, and asynchronous message passing.
 .
 The package ships the debugging symbols

Package: libignition-transport12-core-dev
Depends: libgz-transport12-core-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-transport12
Depends: libgz-transport12, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: ignition-transport12-cli
Depends: gz-transport12-cli, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-transport12-log-dev
Depends: libgz-transport12-log-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-transport12-log
Depends: libgz-transport12-log, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-transport12-dev
Depends: libgz-transport12-dev, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.

Package: libignition-transport12-dbg
Depends: libgz-transport12-dbg, ${misc:Depends}
Architecture: all
Priority: optional
Section: oldlibs
Description: transitional package
 This is a transitional package. It can safely be removed.
